<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Product Information </h1>
        <div style="padding: 20px; border: solid mediumblue; font-size: 20pt;">
            @RenderBody()
        </div>
        <h2> Visit <a href="www.apress.com">APress</a></h2>

    </div>
</body>
</html>
